extends layout.pug

block content
    p some charts
    
    div.container
        div.row    
            div#rider-select.col-sm-4
        div.row        
            div#test.col-sm-4
        div.row
            div#bar-chart.col-sm-4
        div.row
            div.chart        
        
block additional_js
    script(src='/javascripts/crossfilter.js')
    script(src='/javascripts/d3.js')
    script(src='/javascripts/dc.js')
    script(src='/javascripts/graph.js')
