extends layout.pug

block content
    p some charts
    
    div#rider-select
    div#test
    div#bar-chart
        
block additional_js
    script(src='/javascripts/crossfilter.js')
    script(src='/javascripts/d3.js')
    script(src='/javascripts/dc.js')
    script(src='/javascripts/graph.js')
