doctype html
html
  head
    title= title
    script(src='http://d3js.org/queue.v1.min.js')
    link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css")
    link(rel='stylesheet' href='/stylesheets/style.css')
  body
    block content
        
block additional_js
